<section class="component component-columns-module text-black py-16 lg:py-24 transition-all duration-300 ease-in-out">
	<div class="container mx-auto px-4 sm:px-6 lg:px-8">

		{% if tag or title or description or buttons %}
			{% include "templates/_partials/headings.twig" with {
        tag: tag,
        title: title,
        description: description,
        buttons: buttons,
        textAlign: textAlignmentClass
      } %}
		{% endif %}

		<div class="grid grid-cols-1 gap-8 md:grid-flow-col md:auto-cols-fr md:grid-cols-{{ columns|length }}">
			{% for column in columns %}
				<div class="column js-column-item bg-gray-50 flex flex-col gap-4 md:gap-8 h-full rounded-lg p-1.5 transition-all duration-300 ease-in-out {{ textAlignmentClass }}">

					<div class="grow">
						{% if column.image %}
							<div class="column-image mb-8 {{ isImageRounded ? 'flex justify-center items-center' : '' }}">
								{% if isImageRounded %}
									{# Rounded Images / Icons #}
									<img src="{{ column.image.src }}" alt="{{ column.image.alt }}" loading="lazy" class="{{ column.isSvg ? 'w-32 h-32 sm:w-40 sm:h-40 lg:w-48 lg:h-48' : 'rounded-full aspect-square w-40 h-40 sm:w-48 sm:h-48 lg:w-56 lg:h-56 object-cover' }} mx-auto">
								{% else %}
									{# Standard Aspect Ratio Images #}
									<img src="{{ column.image.src }}" alt="{{ column.image.alt }}" loading="lazy" class="w-full h-full rounded-lg object-cover {{ aspectRatioClass }}">
								{% endif %}
							</div>
						{% endif %}

						<div class="mx-4 mb-4">
							{% if column.tag %}
								<div class="column-tag mb-1">
									<span class="inline-block text-xs font-medium text-black/60 uppercase tracking-wide">{{ column.tag }}</span>
								</div>
							{% endif %}

							{% if column.subtitle %}
								<div class="column-subtitle-container mb-2.5">
									<h3 class="js-column-subtitle column-subtitle text-2xl font-medium w-full text-black">
										{{ column.subtitle }}
									</h3>
								</div>
							{% endif %}

							{% if column.description %}
								<div class="column-description text-black/90 text-lg leading-tight font-light">
									{{ column.description|e('wp_kses_post') }}
								</div>
							{% endif %}
						</div>
					</div>

					{% if column.cardButton %}
						{% include "templates/_partials/button.twig" with {
            text: column.cardButton.title,
            link: column.cardButton.url,
            target: column.cardButton.target,
            variant: 'outlined',
          } only %}
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<style>
	.column-subtitle-container {
		min-height: var(--row-subtitle-height, auto);
		display: flex;
		align-items: flex-end;
	}
</style>
