<flynt-component name="ModulTextImage" class="py-8 md:py-12 lg:py-16">
	<div class="container">
		<div class="grid gap-8 lg:gap-14 {{ gridClass }} {{ containerClass }}">

			{% if image %}
				<figure class="w-full {{ imageClass }}">
					<div class="rounded-xl overflow-hidden shadow-md {{ aspectRatioClass }}">
						{% if image.post_mime_type == 'image/svg+xml' %}
							<img class="w-full h-auto" src="{{ image.src }}" alt="{{ image.alt|e }}" loading="lazy">
						{% else %}
							<img class="w-full h-full object-cover" src="{{ image.src|resizeDynamic(1024) }}" srcset="{{ image.src|resizeDynamic(640) }} 640w, {{ image.src|resizeDynamic(1024) }} 1024w, {{ image.src|resizeDynamic(1440) }} 1440w" sizes="(max-width: 768px) 100vw, 50vw" alt="{{ image.alt|e }}" loading="lazy">
						{% endif %}
					</div>
				</figure>
			{% endif %}

			{% if tag or title or description or buttons %}
				<div class="flex flex-col justify-center {{ contentClass }}">
					{% include "templates/_partials/headings.twig" with { tag, title, description, buttons, textAlign } %}
				</div>
			{% endif %}

		</div>
	</div>
</flynt-component>
